@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 96, 71, 61;
  --background-start-rgb: 96, 71, 61;
  --background-end-rgb: #f9cb9c;
}

@media{
  :root {
    --foreground-rgb: #f9cb9c;
    --background-start-rgb: #f9cb9c;
    --background-end-rgb: #f9cb9c;
  }
}

body {
  color: #f9cb9c;
  background: linear-gradient(
      to bottom,
      transparent,
      #b4644ac0
    )
    rgb(255, 255, 255);
}

.ant-card-head {
  background: #f9cb9c;
  color: #f9cb9c;
}
.ant-card-body {
  background: #f9cb9c;
  color: #f9cb9c;
}
